html,
body {
  height: 100%;
  margin: 0%;
}
body {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
}

.mainContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.navBar {
  background-color: #212529;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 280px;
  padding: 16px;
  box-sizing: border-box;
}

.navbar__navItemList {
  /* 0 is always a 0 and not 0px or 0% */
  padding: 0;
}

/* Group similar styles */
.navBar__navItems {
  list-style-type: none;
  cursor: pointer;
  align-self: center;
}

.navBar__navItems:hover {
  border-radius: 4px;
}

/* 
  Never apply styles directly on the global tags, 
  use classes instead
*/
.sidebarHeader {
  color: #ffffff;
  padding-left: 10px;
  font-weight: normal;
  margin-top: 0;
}
/* Group similar styles */
.sidebarHeader:hover {
  cursor: pointer;
}

.navBar__link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
}

.navBar__separator {
  width: 100%;
  margin: 16px 0;
  color: inherit;
  opacity: 0.25;
}

.navBar--blue {
  background-color: #0d6efd;
  border-radius: 4px;
}

.navBar__icon{
  margin-right: 8px;
}